body{
    font-family:"arial";
    margin:0px;
}

.section{
    height:calc(100vh - 30px);
    padding:15px;
}

.floatinghead{
    height:150px;
    position: absolute;
    margin:0px;
    padding:0px;
}

#floatingheadContainer{
    height:200px;
    position:fixed;
    left:50%;
}
#titleContainer{
    width:50%
}

#fullface{
    left:0px;
    z-index:101;
}

#facecrack{
    z-index:100;
}
#facetop{
    z-index:99;
}
#facebottom{
    z-index:98;
}
#facecore{
    z-index:97;
}
