.floatinghead{
    height:200px;
    width:146.7px;
    position: relative;
}

#floatingheadContainer{

}

#fullface{
    z-index:101;
}

#facecrack{
    left:-146.7px;
    z-index:100;
}
#facetop{
    left:calc(-146.7px * 2);
    z-index:99;
}
#facebottom{
    left:calc(-146.7px * 3);
    z-index:98;
}
