.transparent
{
  width:70vw;
  background-color:rgba(256, 256, 256,1);
  vertical-align:top;

  display:inline-block;
  padding:40px 80px 40px 80px;
  background-color:rgba(128, 128, 128,0);
}

.scrolling-wrapper
{
  position:absolute;
  width:50000px;
}

.backgroundContainer
{
  position:fixed;
  height:100vh;
  perspective:500px;
}


.foreground
{
  position:fixed;
  bottom:0px;
  z-index:0;
}

.box
{
  position:fixed;
  bottom:0px;

}
body
{
  overflow: hidden;
}
